<div class="form-group my-2">
  <label class="mr-2">Choose file format</label>
  <%= select(@form, :format, ["Audio": ["MP3", "WAV", "FLAC"], "Video": ["WebM", "MP4", "GIF"]], class: "btn btn-elixir") %>
</div>
<%= submit "Download", class: "btn btn-elixir btn-lg btn-block" %>