<header class="header">
  <nav class="navbar bg-elixir py-3" role="navigation">
    <a class="navbar-brand text-light" href="<%= page_path(@conn, :index) %>">Youtube Downloader</a>
    <%= render YtDownloaderWeb.SharedView, "searchbar.html", assigns %> 
  </nav>
</header>