/* This file is for your main application css. */
.bg-elixir {
  background-color: #584762;
}

.btn-outline-elixir {
  color: #584762;
  background: #fff;
  border-color: #584762;
  border-width: 1px;
}

.btn-elixir {
  color: #fff;
  background-color: #584762;
  border-color: #584762;
}

.border-elixir {
  border-color: #584762!important;
}

/* Youtube entry style */
@media screen and (max-width: 768px) {
  .yt-desc {
    display: none;
  }
}

.yt-desc {
  font-size: 0.9rem;
}

.yt-frame-border {
  border: 5px solid;
}

/* Phoenix flash messages */
.alert:empty { display: none; }