<%= for item <- @search_results do 
    case item[:type] do
       :playlist -> render "playlist_thumbnail.html", data: item, conn: @conn
       :video -> render "video_thumbnail.html", data: item, conn: @conn
    end
end %>